body {
    font-family: Helvetica, Verdana, sans-serif;
    margin: 20 20 20 20;
}
header.quizTitle {
    font-size: 36px;
    margin-bottom: 18px;
}
#questionText {
    font-size: 24px;
    margin-bottom: 12px;
}
#answerList {
    list-style-type: none;
}
input[type=submit] {
    margin-top: 20px;
}
.question {
    padding-left: 50px;
    display: block;
}