<h3 class="questionText">{{ question }}</h3>
<div class="answerList">

    {{#each choices}}

        <div class="radio col-md-11 col-md-offset-1">
            <label>
                <input type="radio" name="placeholder">
                {{ this }}
            </label>
        </div>

    {{/each}}

</div>


